<a href="https://colab.research.google.com/github/Ahnjihye/allinone_AI/blob/master/%5BDay4%5D_%EB%B3%B5%EC%8A%B5_%2B_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%A0%95%EC%9D%98_%ED%95%A8%EC%88%98(%EC%8B%A4%EC%8A%B5%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **복습**

In [ ]:
# 리스트 슬라이싱

data = [10, 20, 30, 40, 50]

In [ ]:
# 리스트에 데이터 추가

data = [1,2,3]

In [ ]:
# 2차원리스트를 구성하는 각각의 1차원리스트에 접근 (데이터 추가)

data = [[1,1], [2,2], [3,3]]

In [ ]:
# 2차원리스트를 구성하는 각각의 1차원리스트에 접근 (데이터 변경)

In [ ]:
# 리스트 정렬

data = [[7,2], [4,8], [1,5], [9,4], [2,7]]

In [ ]:
# 원하는 기준으로 리스트 정렬

import operator

In [ ]:
# 데이터 시각화 (산점도 그리기)

import matplotlib.pyplot as plt

X = [2, 4, 6, 8, 10]
Y = [6, 4, 8, 2, 3]

In [ ]:
data = [[2, 6], [4, 4], [6, 8], [8, 2], [10,3]]

# **사용자 정의 함수**

In [ ]:
# 간단한 함수

In [ ]:
# 매개변수가 있는 함수 (어떤 값을 전달하느냐에 따라 결과가 달라지기를 바랄 때)

adult = 10000
student = 8000

def cal_total(x,y) :
    total = adult*x + student*y
    print('지불할 금액은', total, '원입니다.')

In [ ]:
# 리턴값이 있는 함수 (함수 실행을 통해 얻은 결과값을 활용하고 싶을 때)

def cal_cost(x,y) :
    total = adult*x + student*y
    return total

In [ ]:
# 파이썬에서는 여러 개의 리턴값을 한 번에 받을 수 있음 

def calculate(x,y) :
    result1 = x+y
    result2 = x-y
    return result1, result2

# **지역변수 전역변수**

In [ ]:
# 함수 밖에서 만들어진 변수에 접근(읽기) 가능

a = 5

def read() :
    print(a)
    b = a+5
    print(b)

In [ ]:
# 함수 내에서 [변수명 = 값] => 함수 내에서만 사용 가능한 새로운 변수 생성

def change() :
    a = 10
    print(a)

In [ ]:
# 변수를 공동으로 사용(읽기+쓰기)하고자 할 경우, 전역변수임을 명시

def change2() :
    a = 10
    print(a)

In [ ]:
# 함수 밖에 없는 변수도 전역변수로 지정 가능

def change3() :
    b = 0
    print(b)

In [ ]:
# 다른 함수에서 생성된 전역변수 사용(읽기+쓰기)

def change4() :
    print(b+100)

In [ ]:
# 리스트 타입 : 함수 내에서 [변수명 = 값] => 함수 내에서만 사용 가능한 새로운 변수 생성  

data = [4,5,6]

def change5() :
    data = [1,2,3]
    print(data)

In [ ]:
# 리스트 타입 : 변수를 공동으로 사용하고자 할 경우, 전역변수임을 명시  

def change6() :
    data = [1,2,3]
    print(data)

In [ ]:
# 리스트 타입 : [변수명 = 값]이 아닌 다른 형태로는 수정 가능

def change7() :
    data.append(4)