<a href="https://colab.research.google.com/github/Ahnjihye/allinone_AI/blob/master/AIO_AI_day1_(%EC%99%84%EC%84%B1%EB%B3%B8)_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 출력명령어


```
print( 출력할 내용 )
```

In [ ]:
# 숫자 출력 20200902
print(20200902)

20200902

In [ ]:
# 문자 출력 2020년 9월 2일
print(2020년 9월 2일)

SyntaxError: ignored

In [ ]:
# 문자는 따옴표로 감싸주어야 함
print('2020년 9월 2일')

2020년 9월 2일

In [ ]:
# 연산하여 출력하기
print(12+34)
print(12-34)
print(12*34)
print(12/34)

46
-22
408
0.35294117647058826

In [ ]:
#** 제곱
print(5**2)

#몫
print(5//2)
#나머지
print(5%2)

25
2
1

In [ ]:
# 문자 연결하여 츨력하기
print('Pick'+'me')

Pickme

In [ ]:
# 문자 연결하여 츨력하기
print('Pick','me')

Pick me

In [ ]:
# 문자 * 숫자
print('Pick me '*4)

Pick me Pick me Pick me Pick me

## 2. 입력명령어


```
input()
input('입력 안내문')
```

In [ ]:
input()

123

'123'

In [ ]:
input('아이디 : ')

아이디 : let's getit

"let's getit"

입력된 데이터 양 옆의 작은 따옴표      
-> input()으로 읽어들인 데이터는 모두 문자로 인식

## 3. 변수


```
변수이름 = 저장할 데이터
name = '안지혜'
school = '관악고'
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/1_%EB%B3%80%EC%88%98.png?raw=true' width =500>

In [ ]:
a = '안녕'
print(a)

안녕

In [ ]:
a = '안녕'
print(a+'하세요')

안녕하세요

In [ ]:
print(a*4)

안녕안녕안녕안녕

In [ ]:
apple = 1200
banana = 800
kiwi = 1700

In [ ]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격은?
apple*3 + banana*1 + kiwi*2

7800

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/2_%EB%B3%80%EC%88%98%EC%97%B0%EC%82%B0.png?raw=true' width =300px>

In [ ]:
# 위 가격은 변수에 저장이 되지 않았으므로 재사용이 안됨
price = apple*3 + banana*1 + kiwi*2
price

7800

In [ ]:
# vip는 20% 할인
vip = 0.8

# vip가 동일한 가격을 구매했을 때 가격?
price * vip

6240.0

In [ ]:
# 이 역시 변수에 저장되지 않았으므로 재사용이 불가
vip_price = price * vip

In [ ]:
print('vip가 되시면',price,'원을',vip_price,'원에 구매 가능합니다! ')

vip가 되시면 7800 원을 6240.0 원에 구매 가능합니다!

## 4. 데이터타입


```
정수 int
실수 float
문자 str
```
#### 데이터타입 변환 --> 변환하려는 타입으로 감싸주기

In [ ]:
type(apple)

int

In [ ]:
type(banana)

int

In [ ]:
type(vip)

float

In [ ]:
type(a)

str

In [ ]:
# 정수를 실수로 
float(apple)

1200.0

In [ ]:
# 실수를 정수로
score = 99.99
int(score)

99

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/3_%EC%9E%85%EB%A0%A5%EA%B0%92%20%EB%B3%80%EC%88%98.png?raw=true' width = 300>

In [ ]:
# 문자를 정수로
score = input('점수 입력 :')
int(score)

점수 입력 :44

44

In [ ]:
# 합쳐서 사용하기
score = int(input('점수 입력 :'))

점수 입력 :34

In [ ]:
score

34

## 5. 리스트

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=500>

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

In [ ]:
# 가계부 프로그램 
# 1월 지출부터 6월 지출까지 리스트로 만들기
spend = [43, 12, 65, 67, 23, 12]

In [ ]:
spend

[43, 12, 65, 67, 23, 12]

In [ ]:
type(spend)

list

#### 리스트의 인덱스란
<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width =500>

In [ ]:
# 리스트 내의 원소에 접근하기
# 인덱스틑 0부터 
print(spend[0])
print(spend[1])
print(spend[2])
print(spend[3])
print(spend[4])
print(spend[5])

43
12
65
67
23
12

리스트 마이너스 인덱스
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=500>

In [ ]:
print(spend[-1])
print(spend[-2])
print(spend[-3])
print(spend[-4])
print(spend[-5])
print(spend[-6])

12
23
67
65
12
43

In [ ]:
# 1월 지출은?
print(spend[0])

43

In [ ]:
# 6월 지출은?
print(spend[-1])

12

In [ ]:
# 3월 지출은?
print(spend[2])

65

In [ ]:
# 알고보니 4월 지출이 10낮게 기록됐다.
# 4월 지출에 10을 더하시오
spend[3] += 10
spend

[43, 12, 65, 77, 23, 12]

In [ ]:
# 5월 지출을 2로 나누시오
spend[4] /= 2
spend

[43, 12, 65, 77, 11.5, 12]

#### 리스트의 다양한 명령어


```
len(리스트이름)            # 리스트 길이 확인
리스트이름.append(데이터)    # 리스트에 데이터 추가
리스트이름.sort()          # 리스트 원소 정렬하기
```

In [ ]:
len(spend)

6

In [ ]:
fruit = ['사과', '바나나', '키위']
len(fruit)

3

In [ ]:
# 오렌지 추가
fruit.append('오렌지')
fruit

['사과', '바나나', '키위', '오렌지']

In [ ]:
# 참외 추가해보기
fruit.append('참외')
fruit

['사과', '바나나', '키위', '오렌지', '참외']

In [ ]:
# 정렬하기
fruit.sort()
fruit

['바나나', '사과', '오렌지', '참외', '키위']

In [ ]:
print('정렬 전 spend', spend)

spend.sort()
print('정렬 후 spend', spend)

정렬 전 spend [43, 12, 65, 77, 11.5, 12]
정렬 후 spend [11.5, 12, 12, 43, 65, 77]

#### 리스트 슬라이싱

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>


```
리스트[시작숫자 : 종료숫자]
```
종료숫자까지 잘라내는 것 XXX
종료숫자에서 탈출하는 것 OOO



```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱하고 abc[5]가 되면 탈출함
abc[4:9]       # abc[4]~abc[9]까지 슬라이싱하고 abc[9]가 되면 탈출함
```

In [ ]:
fruit

['바나나', '사과', '오렌지', '참외', '키위']

In [ ]:
# 사과, 오렌지만 골라내기
fruit[1:3]

['사과', '오렌지']

In [ ]:
# 처음부터 [n]까지 골라내기
fruit[:2]

['바나나', '사과']

In [ ]:
# 뒤에서 두 개 데이터 슬라이싱
fruit[-2:]

#### 문자열 슬라이싱

In [ ]:
name = 'Lets get it Python'

In [ ]:
name[:4]

'Lets'

In [ ]:
name[-6:]

'Python'

In [ ]:
# get it만 슬라이싱해보기
name[4:-6]

' get it '

문자열 분리 명령어 .spilt()


```
문자열.split('분리할 기준')
```

In [ ]:
name.split()

['Lets', 'get', 'it', 'Python']

In [ ]:
name.split()[0]

'Lets'

In [ ]:
name.split()[1:3]

['get', 'it']

In [ ]:
name.split()[-1]

'Python'

In [ ]:
name.split('t')  # t가 사라짐

['Le', 's ge', ' i', ' Py', 'hon']

In [ ]:
name.split('e')  # e가 사라짐

['L', 'ts g', 't it Python']

In [ ]:
date = '2020-09-02'

In [ ]:
# 년도만 골라내기
date.split('-')[0]

# 숫자로 아직 안바뀐 상태
int(date.split('-')[0])

2020

In [ ]:
# 월만 골라내기
date.split('-')[1]

'09'

In [ ]:
# 일만 골라내기
date.split('-')[-1]

'02'

## 6. 조건문 if

만약 A라면 B해라      

```
if A :   
    B    
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

In [ ]:
# 만약 미성년자라면 술을 구매할 수 없다고 출력
age = int(input('나이 입력 : '))

if age < 20 : 
    # 조건을 충족할 때만 실행
    print('술을 구매할 수 없습니다.')

In [ ]:
age = int(input('나이 입력 : '))

if age < 20 : 
    print('술을 구매할 수 없습니다.')
# 항상 실행되는 명령어 -> 들여쓰기 중요
print(20-age, '년 후에 다시 오세여!')


만약 A라면 B해라,      
그렇지 않으면 C해라      
(A가 아니라면)

```
if A : 
    B
else : 
    C
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/11_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B02.png?raw=true' width=500>

In [ ]:
if age < 20 : 
    print('술을 구매할 수 없습니다.')
    print(20-age, '년 후에 다시 오세여!')
else : 
    print('감사합니다. 안녕히 가세요.')

조건을 만드는 비교 연산자


```
a > b    # a가 b보다 크다면
a < b    # a가 b보다 작다면
a >= b    # a가 b보다 크거나 같다면
a <= b    # a가 b보다 작거나 같다면
a == b    # a와 b가 같다면
a != b    # a와 b가 틀리다면
```

#### 실습 1) 물건 금액을 입력받고 물건이 오만원 미만일 경우 배송비 2500원을 더해서 결제금액을 안내하시오.

In [ ]:
price = int(input('물건 가격 입력 : '))

if price < 50000 : 
    price += 2500

print('총 결제금액은',price)

In [ ]:
# 계산 꿀팁! 
a = 10
a += 1
print(a)

a -= 2
print(a)

a *= 3
print(a)

a /= 4
print(a)

11
9
27
6.75

#### 실습 2) 목욕탕에 무인정산기를 설치하려고 한다. 성인은 입장료가 15000원, 마성년자는 6000원이다. 나이를 입력받아 알맞은 가격을 안내해라.

In [ ]:
age = int(input('나이가 어떻게 되십니까? '))

if age >= 20 : 
    print('성인은 15000원입니다.')
else : 
    print('미성년자는 6000원입니다.')

## 7. 반복문

```
for A in data : 
    B 
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/4_%EB%B0%98%EB%B3%B5%EB%AC%B8.png?raw=true' width=500>

In [ ]:
for a in [1,2,3,4,5] : 
    print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [ ]:
for a in [1,2,3,4,5] : 
    print(a, '안녕하세요!')

1 안녕하세요!
2 안녕하세요!
3 안녕하세요!
4 안녕하세요!
5 안녕하세요!

<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/5_%EB%B0%98%EB%B3%B5%EB%AC%B8%20%EB%8F%99%EC%9E%91%EA%B5%AC%EC%A1%B0.png?raw=true' width=400>

In [ ]:
spend = [43, 12, 65, 67, 23, 12]

for s in spend : 
    print('지출은', s)

지출은 43
지출은 12
지출은 65
지출은 67
지출은 23
지출은 12

In [ ]:
# 인덱스를 활용하고 싶을 때 range()
for i in range(0,6) : 
    print(i+1,'월 지출은', spend[i])

1 월 지출은 43
2 월 지출은 12
3 월 지출은 65
4 월 지출은 67
5 월 지출은 23
6 월 지출은 12

In [ ]:
# len() 활용하기
for i in range(0,len(spend)) : 
    print(i+1,'월 지출은', spend[i])

1 월 지출은 43
2 월 지출은 12
3 월 지출은 65
4 월 지출은 67
5 월 지출은 23
6 월 지출은 12

In [ ]:
# range()가 0부터 시작하면 생략 가능
for i in range(len(spend)) : 
    print(i+1,'월 지출은', spend[i])

1 월 지출은 43
2 월 지출은 12
3 월 지출은 65
4 월 지출은 67
5 월 지출은 23
6 월 지출은 12

#### 리스트와 반복문, 조건문

In [ ]:
# 50이상 쓴 달을 출력하시오
for i in range(len(spend)) : 
    if spend[i] >= 50 : 
        print(i+1,'월 ',spend[i])

3 월  65
4 월  67

In [ ]:
# 지출이 12인 달을 출력하시오
for i in range(len(spend)) : 
    if spend[i] == 12 : 
        print(i+1,'월 ',spend[i])

2 월  12
6 월  12

## 딕셔너리
Key - Value 대응      
키 - 값 대응

```
딕셔너리이름 = {키1 : 값1, 키2 : 값2, ... 키n : 값n}
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/12_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.png?raw=true' width =500>

In [ ]:
menu = {'김밥':2500, '참치김밥': 3500, '라면':3000, '치즈라면': 4000}
menu

{'김밥': 2500, '라면': 3000, '참치김밥': 3500, '치즈라면': 4000}

In [ ]:
menu['참치김밥']

3500

In [ ]:
menu['치즈라면']

4000

In [ ]:
print(menu)

# 참치김밥 인하 3000원
menu['참치김밥'] = 3000

print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}

In [ ]:
print(menu)

# 라면가격 인상 3500
menu['라면'] = 3500

print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 3500, '치즈라면': 4000}

In [ ]:
# 돈가스 추가
menu['돈가스']=6000
print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3500, '치즈라면': 4000, '돈가스': 6000}

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/13_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC2.png?raw=true' width=800>

```
# 딕셔너리의 키만 꺼내기 
딕셔너리이름.keys()

# 딕셔너리의 값(value)만 꺼내기 
딕셔너리이름.values()

# 딕셔너리의 키-값 모두 꺼내기 
딕셔너리이름.items()
```

In [ ]:
menu.keys()

dict_keys(['김밥', '참치김밥', '라면', '치즈라면', '돈가스'])

In [ ]:
menu.values()

dict_values([2500, 3000, 3500, 4000, 6000])

In [ ]:
menu.items()

dict_items([('김밥', 2500), ('참치김밥', 3000), ('라면', 3500), ('치즈라면', 4000), ('돈가스', 6000)])

In [ ]:
# 딕셔너리의 키를 리스트로 변환하기
list(menu.keys())

['김밥', '참치김밥', '라면', '치즈라면', '돈가스']

In [ ]:
# 딕셔너리의 값을 리스트로 변환하기
list(menu.values())

[2500, 3000, 3500, 4000, 6000]

딕셔너리 정렬하기 
```
# 딕셔너리 키를 정렬
sorted(딕셔너리.keys())

# 딕셔너리 값을 정렬
sorted(딕셔너리.values())

# 딕셔너리 키-값을 정렬
sorted(딕셔너리.items())
```

In [ ]:
sorted(menu.keys())

['김밥', '돈가스', '라면', '참치김밥', '치즈라면']

In [ ]:
sorted(menu.keys(), reverse = True)

['치즈라면', '참치김밥', '라면', '돈가스', '김밥']

In [ ]:
sorted(menu.values())

[2500, 3000, 3500, 4000, 6000]

In [ ]:
# 가장 싼 음식의 가격은?
sorted(menu.values())[0]

2500

In [ ]:
# 가장 싼 음식 두 개의 가격은?
sorted(menu.values())[:2]

[2500, 3000]

In [ ]:
# 가장 비싼 음식의 두 개의 가격은?
sorted(menu.values())[-2:]

[4000, 6000]

In [ ]:
sorted(menu.values(), reverse = True)

[6000, 4000, 3500, 3000, 2500]

In [ ]:
sorted(menu.items())

[('김밥', 2500), ('돈가스', 6000), ('라면', 3500), ('참치김밥', 3000), ('치즈라면', 4000)]



```
# 딕셔너리 키-값은 자동으로 키를 기준으로 정렬됨
sorted(딕셔너리.items())
```

In [ ]:
# 딕셔너리 키-값 정렬시 값을 기준으로 정렬하ㅣ
import operator 

sorted(menu.items(), key=operator.itemgetter(1))

[('김밥', 2500), ('참치김밥', 3000), ('라면', 3500), ('치즈라면', 4000), ('돈가스', 6000)]

In [ ]:
# 가장 싼 음식은 무엇인가?
sorted(menu.items(), key=operator.itemgetter(1))[0]

('김밥', 2500)

In [ ]:
# 가장 싼 음식 두 개는 무엇인가?
sorted(menu.items(), key=operator.itemgetter(1))[:2]

[('김밥', 2500), ('참치김밥', 3000)]

In [ ]:
# 역순 정렬
sorted(menu.items(), key=operator.itemgetter(1), reverse = True)

[('돈가스', 6000), ('치즈라면', 4000), ('라면', 3500), ('참치김밥', 3000), ('김밥', 2500)]

In [ ]:
# 가장 비싼 음식 두 개는? 
sorted(menu.items(), key=operator.itemgetter(1), reverse = True)[:2]

[('돈가스', 6000), ('치즈라면', 4000)]