<a href="https://colab.research.google.com/github/Ahnjihye/allinone_AI/blob/master/AIO_AI_day4_(%EC%8B%A4%EC%8A%B5%EC%9A%A9)_%EB%B3%B5%EC%8A%B5_%2B_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%A0%95%EC%9D%98_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **복습**

In [ ]:
# 리스트 슬라이싱

data = [10, 20, 30, 40, 50]

In [ ]:
# 리스트에 데이터 추가

data = [1,2,3]

In [ ]:
# 2차원리스트를 구성하는 각각의 1차원리스트에 접근 (데이터 추가)

data = [[1,1], [2,2], [3,3]]

In [ ]:
# 2차원리스트를 구성하는 각각의 1차원리스트에 접근 (데이터 변경)

In [ ]:
# 리스트 정렬

data = [[7,2], [4,8], [1,5], [9,4], [2,7]]

In [ ]:
# 원하는 기준으로 리스트 정렬

import operator

In [ ]:
# 데이터 시각화 (산점도 그리기)

import matplotlib.pyplot as plt

X = [2, 4, 6, 8, 10]
Y = [6, 4, 8, 2, 3]

In [ ]:
data = [[2, 6], [4, 4], [6, 8], [8, 2], [10,3]]

# **사용자 정의 함수**

In [ ]:
# 간단한 함수

In [ ]:
# 매개변수가 있는 함수 (어떤 값을 전달하느냐에 따라 결과가 달라지기를 바랄 때)

adult = 10000
student = 8000

In [ ]:
# 리턴값이 있는 함수 (함수 실행을 통해 얻은 결과값을 활용하고 싶을 때)

In [ ]:
# 파이썬에서는 여러 개의 리턴값을 한 번에 받을 수 있음

# **기타**

In [ ]:
# 리스트 변수 append할 때 주의할 점

data = [0, 1, 2, 3]

def add_5th() :
    data.append(4)
    print(data)

In [ ]:
def add_5th() :
    data.append(4)
    print(data)

In [ ]:
# 리스트 내 값을 랜덤으로 뽑아내기



data1 = [1, 2, 3, 4, 5]
data2 = [[6,1], [2,5], [4,4], [8,7], [9,3]]