<a href="https://colab.research.google.com/github/Ahnjihye/allinone_AI/blob/students-oneday-class/%ED%95%99%EC%83%9D_%EB%8C%80%EC%83%81_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9B%90%EB%8D%B0%EC%9D%B4_(%EC%99%84%EC%84%B1%EB%B3%B8)_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 들어가기 전에 - 우리들의 최종목표

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-001.png?raw=true" width=700>

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-002.png?raw=true" width=700>

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-003.png?raw=true" width=700>

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-004.png?raw=true" width=700>

### 인공지능을 직접 만들려면 무엇을 알아야 하나요? 

> 1. 파이썬 기초 </br>
> 2. 데이터 분석 </br>
> 3. 머신러닝 </br>
> 4. 딥러닝 </br>

# 2. STEP1 - 파이썬 기초 배우기


### 주제 1. 파이썬의 명령어 형식
<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/0_%EB%AA%85%EB%A0%B9%EC%96%B4.png?raw=true' width=400>

### 주제 2. 출력명령어 


```
print( 출력할 내용 )
```

In [ ]:
# 숫자 출력 20200902
print(20200902)

20200902

In [ ]:
# 문자 출력 2020년 9월 2일
print(2020년 9월 2일)

SyntaxError: ignored

In [ ]:
# 문자는 따옴표로 감싸주어야 함
print('2020년 9월 2일')

2020년 9월 2일

In [ ]:
# 연산하여 출력하기
print(12+34)
print(12-34)
print(12*34)
print(12/34)

46
-22
408
0.35294117647058826

In [ ]:
#** 제곱
print(5**2)

#몫
print(5//2)
#나머지
print(5%2)

25
2
1

In [ ]:
# 문자 연결하여 출력하기
print('Pick','me')

Pick me

#### 실습 1 : 본인 학번, 이름 한줄로 출력하기

In [ ]:
# 본인 학번, 이름을 한 줄로 출력해보기!

### 주제 3. 입력명령어


```
input('입력 안내문')
```

In [ ]:
input('아이디 : ')

아이디 : let's getit

"let's getit"

#### 실습 2 : 아이디 입력받는 칸과 비밀번호 입력받는 칸, 총 두 개를 만들어보기

In [ ]:
input('아이디 -->')
input('비밀번호 -->')

결과 확인해보기
> 입력된 데이터 양 옆의 작은 따옴표      
> input()으로 읽어들인 데이터는 모두 문자로 인식

### 주제 4. 변수


```
변수이름 = 저장할 데이터
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/1_%EB%B3%80%EC%88%98.png?raw=true' width =500>

In [ ]:
a = '안녕'
print(a)

안녕

In [ ]:
a = '안녕'
print(a,'하세요')

안녕하세요

In [ ]:
apple = 1200
banana = 800
kiwi = 1700

In [ ]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격은?
apple*3 + banana*1 + kiwi*2

7800

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/2_%EB%B3%80%EC%88%98%EC%97%B0%EC%82%B0.png?raw=true' width =300px>

#### 실습 3 : 사과 3개, 바나나 1개, 키위 2개 구매한 가격을 새로운 변수에 저장하여 출력하기

In [ ]:
# 위 가격은 변수에 저장이 되지 않았으므로 컴퓨터가 기억하지 못함
price = apple*3 + banana*1 + kiwi*2
price

7800

#### 실습 4 : vip는 20% 할인된다. 동일한 물건을 구매했을 때 vip가 내는 가격을 새로운 변수에 저장하여 출력하기

In [ ]:
# vip가 동일한 가격을 구매했을 때 가격?
price * 0.2

6240.0

In [ ]:
# 이 역시 변수에 저장되지 않았으므로 재사용이 불가
vip_price = price * 0.2

In [ ]:
print('vip가 되시면',price,'원을',vip_price,'원에 구매 가능합니다! ')

vip가 되시면 7800 원을 6240.0 원에 구매 가능합니다!

### 주제 5. 동일한 변수를 증가/감소시킬 때

```
# a에 3을 더하시오
a = a+3
```

```
# 간략하게 표현
a += 3
```

#### 실습 5 : 다음처럼 가격을 변동시키시오.

In [ ]:
# apple 가격을 500원 인상시키시오

In [ ]:
# banana 가격을 500원 인하시키시오

In [ ]:
# kiwi 가격을 두배로 곱하시오

###  주제 6. 데이터타입


```
정수 int
실수 float
문자 str
```

In [ ]:
type(apple)

int

In [ ]:
type(banana)

int

In [ ]:
type(vip)

float

In [ ]:
type(a)

str

###  주제 7. 데이터타입 변경하기
변경하려는 데이터타입으로 감싸주기


```
# 정수로 변경하기
int(변수)

# 실수로 변경하기
float(변수)

# 문자로 변경하기
str(변수)
```

In [ ]:
# 정수를 실수로 
float(apple)

1200.0

In [ ]:
# 실수를 정수로
score = 99.99
int(score)

99

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/3_%EC%9E%85%EB%A0%A5%EA%B0%92%20%EB%B3%80%EC%88%98.png?raw=true' width = 300>

#### 실습 6 : 점수를 입력받아(input) 변수 score에 저장한 후, score의 타입을 확인하시오

In [ ]:
score = input('점수 입력 :')
type(score)

점수 입력 :44

44

#### 실습 7 : score를 정수로 변경하시오

In [ ]:
# 문자를 정수로
score = input('점수 입력 :')
int(score)

34

###  주제 8. 리스트
> 실생활의 리스트 
    
<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/56_%EC%82%AC%EC%95%BC%ED%95%A0%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width=150>

</br>
</br>

> 파이썬의 리스트

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=600>

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

In [ ]:
# 가계부 프로그램 
# 1월 지출부터 6월 지출까지 리스트로 만들기
spend = [43, 12, 65, 67, 23, 12]

In [ ]:
spend

[43, 12, 65, 67, 23, 12]

In [ ]:
type(spend)

list

###  주제 9. 리스트와 인덱스
<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width =700>

In [ ]:
# 리스트 내의 원소에 접근하기
# 인덱스는 0부터 
print(spend[0])
print(spend[1])
print(spend[2])
print(spend[3])
print(spend[4])
print(spend[5])

43
12
65
67
23
12

In [ ]:
# 1월 지출은?
print(spend[0])

43

In [ ]:
# 6월 지출은?
print(spend[-1])

12

In [ ]:
# 3월 지출은?
print(spend[2])

65

#### 실습 8 :  알고보니 4월 지출이 10낮게 기록됐다. 4월 지출에 10을 더하시오

In [ ]:
# 4월 지출에 10을 더하시오
spend[3] += 10
spend

[43, 12, 65, 77, 23, 12]

#### 실습 9 :  5월 지출을 2로 나누시오

In [ ]:
# 5월 지출을 2로 나누시오
spend[4] /= 2
spend

[43, 12, 65, 77, 11.5, 12]

###  주제 10. 마이너스 인덱스

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=500>

In [ ]:
print(spend[-1])
print(spend[-2])
print(spend[-3])
print(spend[-4])
print(spend[-5])
print(spend[-6])

12
23
67
65
12
43

###  주제 11.  리스트의 다양한 명령어

```
len(리스트이름)            # 리스트 길이 확인
```

In [ ]:
len(spend)

6

In [ ]:
fruit = ['사과', '바나나', '키위']
len(fruit)

3

###  주제 12. 리스트에 데이터 추가하기

```
리스트이름.append(데이터)    # 리스트에 데이터 추가
```

In [ ]:
# 오렌지 추가
fruit.append('오렌지')
fruit

['사과', '바나나', '키위', '오렌지']

#### 실습 10 :  리스트 fruit에 참외를 추가한후, 본인이 좋아하는 과일 하나 더 추가해보기

In [ ]:
# 참외 추가해보기
fruit.append('참외')
fruit

['사과', '바나나', '키위', '오렌지', '참외']


### 주제 13. 리스트 원소 정렬하기
```
리스트이름.sort()          # 리스트 원소 정렬하기
```

In [ ]:
# 정렬하기
fruit.sort()
fruit

['바나나', '사과', '오렌지', '참외', '키위']

In [ ]:
print('정렬 전 spend', spend)

spend.sort()
print('정렬 후 spend', spend)

정렬 전 spend [43, 12, 65, 77, 11.5, 12]
정렬 후 spend [11.5, 12, 12, 43, 65, 77]

###  주제 14. 문자열 분리 명령어 .spilt()


```
문자열.split('분리할 기준')
```

In [ ]:
name = 'Lets get it Python'
name.split()

['Lets', 'get', 'it', 'Python']

In [ ]:
name.split()[0]

'Lets'

In [ ]:
name.split()[-1]

'Python'

In [ ]:
name.split('t')  # t가 사라짐

['Le', 's ge', ' i', ' Py', 'hon']

In [ ]:
name.split('e')  # e가 사라짐

['L', 'ts g', 't it Python']

In [ ]:
date = '2020-09-02'

In [ ]:
# 년도만 골라내기
date.split('-')[0]

2020

In [ ]:
# 숫자로 아직 안바뀐 상태
int(date.split('-')[0])

#### 실습 11 : 위 date에서 월(month)만 골라내 변수에 저장하시오.

In [ ]:
# 월만 골라내기
date.split('-')[1]

'09'

#### 실습 12 : 위 date에서 일(day)만 골라내 변수에 저장하시오.

In [ ]:
# 일만 골라내기
date.split('-')[-1]

'02'

###  주제 15. 조건문 if

지금까지의 명령어는 항상 실행되는 명령어 
</br>

조건을 충족할 때만 실행되거나/ 실행되지 않는 명령어
</br>
</br>
<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0%20%EC%98%88%EC%8B%9C%20png.png?raw=true' width=500>

**선택구조 : 조건을 충족할 때에만 선택적으로 실행되는 명령어**
</br>
**=조건문 이라고도 함**

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

In [ ]:
# 만약 미성년자라면 술을 구매할 수 없다고 출력
age = 20

if age < 20 : 
    # 조건을 충족할 때만 실행
    print('술을 구매할 수 없습니다.')

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0%20%EB%8F%99%EC%9E%91%EC%9B%90%EB%A6%AC.png?raw=true' width =800>

> 조건문에서는 들여쓰기를 조심하세요!
</br>
<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0%20%EB%93%A4%EC%97%AC%EC%93%B0%EA%B8%B0%20png.png?raw=true' width=200>

#### 실습 13 : 나이를 입력받고, 입력받은 나이가 20 미만이면 술을 구매할 수 없다고 출력하기

In [ ]:
age = input('나이 입력 : ')
age = int(age)

if age < 20 : 
    print('술을 구매할 수 없습니다.')
print(20-age, '년 후에 다시 오세여!')

#### 실습 14 : 물건 금액을 입력받고 물건이 오만원 미만일 경우 배송비 2500원을 더해서 결제금액을 안내하시오.

In [ ]:
price = int(input('물건 가격 입력 : '))

if price < 50000 : 
    price += 2500

print('총 결제금액은',price)

###  주제 16. 조건을 만드는 비교연산자

a와 b가 같다면
> if a == b :      

</br>

a와 b가 같지 않다면

> if a != b :   

</br>
</br>

a가 b보다 크다면
> if a > b :     

a가 b보다 크거나 같다면 
> if a >= b :      

a가 b보다 작다면
> if a < b :        

a가 b보다 작거나 같다면
> if a <= b :

#### 실습 15 : 출석 혹은 결석 둘 중 하나를 입력받고, 출석을 입력받았을 경우 O를 출력하기

In [ ]:
# 복습 2 : 자동 출석 시스템 
check = input('출석 혹은 결석을 입력하세요 ')
if check == '출석' : 
    print('0')

### 주제 17. 조건을 충족하지 않을 때 실행하는 명령어 if-else 


<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/11_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B02%20-%20%EC%98%88%EC%8B%9C.png?raw=true' width = 300>
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/11_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B02.png?raw=true' width=400>

</br>
</br>
</br>

> 실생활 if-else 예시

</br>

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/42_if-else.png?raw=true' >

In [ ]:
if age < 20 : 
    print('술을 구매할 수 없습니다.')
    print(20-age, '년 후에 다시 오세여!')
else : 
    print('감사합니다. 안녕히 가세요.')

#### 실습 16: 자동 출석 시스템 
```
출석 혹은 결석을 입력받아 출석이면 O을 출력, 결석이면 X를 출력하기
입력안내문 : 출석 혹은 결석을 입력하세요
```

In [ ]:
# 복습 2 : 자동 출석 시스템 
check = input('출석 혹은 결석을 입력하세요 ')
if check == '출석' : 
    print('0')
else : 
    print('X')


#### 실습 17 : 스마트 에어컨
```
온도를 입력받고, 입력받은 온도가 26.5미만이면 설정 온도를 +2하시오.
입력받은 온도가 26.5 이상이라면 설정 온도를 -1 하시오.

입력 안내문 : 현재 온도는? 
최종 온도 출력 : 새롭게 설정된 온도 26.5
```

In [ ]:
# 복습 3 : 스마트 에어컨
temp = input('현재 온도는? ')
temp = float(temp)

if temp < 26.5 : 
    temp += 2
else :
    temp -= 1
print('새롭게 설정된 온도', temp)

현재 온도는? 28.5
새롭게 설정된 온도 27.5

###  주제 18. 반복문
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/4_%EB%B0%98%EB%B3%B5%EB%AC%B8.png?raw=true' width=500>

In [ ]:
for a in [1,2,3,4,5] : 
    print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [ ]:
for a in [1,2,3,4,5] : 
    print(a, '안녕하세요!')

1 안녕하세요!
2 안녕하세요!
3 안녕하세요!
4 안녕하세요!
5 안녕하세요!

<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/5_%EB%B0%98%EB%B3%B5%EB%AC%B8%20%EB%8F%99%EC%9E%91%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

#### 실습 18 : 다음 spend의 모든 원소를 차례대로 출력하시오 


```
spend = [43, 12, 65, 67, 23, 12]
```

In [ ]:
spend = [43, 12, 65, 67, 23, 12]

for s in spend : 
    print('지출은', s)

지출은 43
지출은 12
지출은 65
지출은 67
지출은 23
지출은 12

### 주제 19. 리스트와 반복문, 조건문

In [ ]:
# 50이상 쓴 금액을 출력하시오
for i in range(len(spend)) : 
    if spend[i] >= 50 : 
        print(i+1,'월 ',spend[i])

3 월  65
4 월  67

#### 실습 19 : 지출이 20이하인 금액을 출력하시오

In [ ]:
# 지출이 20 이하인 금액을 출력하시오
for i in range(len(spend)) : 
    if spend[i] == 12 : 
        print(i+1,'월 ',spend[i])

2 월  12
6 월  12

###  주제 20. 이차원 리스트

<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/14_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width = 700>

In [ ]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
abc

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
abc[0]

[1, 2, 3]

In [ ]:
abc[1]

[4, 5, 6]

In [ ]:
abc[-1]

[7, 8, 9]

###  주제 21. 이차원 리스트의 인덱스

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/15_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width = 700>

In [ ]:
# 1 출력하기
abc[0][0]

1

#### 실습 20 : 이차원 리스트 abd에서 인덱스를 활용해 다음 숫자를 출력하시오

In [ ]:
# 6 출력하기
abc[1][2]

6

In [ ]:
# 8 출력하기
abc[2][1]

8

###  주제 22. 반복문과 이차원 리스트

In [ ]:
for row in abc : 
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

> 이차원리스트 반복 원리

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/16_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0.png?raw=true' width=800>

In [ ]:
# 모든 줄의 첫번째 데이터만 출력
for row in abc : 
    print(row[0])

1
4
7

In [ ]:
# 모든 줄의 마지막 데이터(세번째 열)만 출력
for row in abc : 
    print(row[-1])

3
6
9

### 주제 23. 이차원 리스트와 제어구조

<img src= 'https://github.com/Ahnjihye/allinone_AI/blob/images/17_%EC%98%AC%EB%A6%BC%ED%94%BD.png?raw=true' width=500>

In [ ]:
olympic =[
          [1,'미국',46,37,38,121],
          [2,'영국',27,23,17,67],
          [3,'중국',26,18,26,70],
          [4,'러시아',19,18,19,56],
          [5,'독일',17,10,15,42],
          [6,'일본',12,8,21,41],
          [7,'프랑스',10,18,14,42],
          [8,'대한민국',9,3,9,21] 
        ]

In [ ]:
# 순위권에 든 모든 국가를 출력하시오
for row in olympic :
    print(row[1])

미국
영국
중국
러시아
독일
일본
프랑스
대한민국

In [ ]:
# 금메달보다 은메달 개수가 많은 나라를 출력하시오
for row in olympic : 
    if row[2] < row[3] : 
        print(row[1])

프랑스

In [ ]:
# 금메달보다 동메달 개수가 많은 나라를 출력하시오
for row in olympic : 
    if row[2] < row[4] : 
        print(row[1])

일본
프랑스

In [ ]:
# 모든 나라의 금메달 합을 구하시오
gold = 0

for row in olympic : 
    gold += row[2]

In [ ]:
gold

166

In [ ]:
# 총 메달수가 홀수개인 나라를 출력하시오
for row in olympic : 
    if row[-1] %2 == 1 : 
        print(row[1], row[-1])

미국 121
영국 67
일본 41
대한민국 21

###  주제 24. 딕셔너리
Key - Value 대응      
키 - 값 대응

```
딕셔너리이름 = {키1 : 값1, 키2 : 값2, ... 키n : 값n}
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/12_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.png?raw=true' width =500>

In [ ]:
menu = {'김밥':2500, '참치김밥': 3500, '라면':3000, '치즈라면': 4000}
menu

{'김밥': 2500, '라면': 3000, '참치김밥': 3500, '치즈라면': 4000}

In [ ]:
menu['참치김밥']

3500

In [ ]:
menu['치즈라면']

4000

In [ ]:
print(menu)

# 참치김밥 인하 3000원
menu['참치김밥'] = 3000

print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}

In [ ]:
print(menu)

# 라면가격 인상 3500
menu['라면'] = 3500

print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 3500, '치즈라면': 4000}

In [ ]:
# 돈가스 추가
menu['돈가스']=6000
print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3500, '치즈라면': 4000, '돈가스': 6000}

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/13_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC2.png?raw=true' width=800>

```
# 딕셔너리의 키만 꺼내기 
딕셔너리이름.keys()

# 딕셔너리의 값(value)만 꺼내기 
딕셔너리이름.values()

# 딕셔너리의 키-값 모두 꺼내기 
딕셔너리이름.items()
```

In [ ]:
menu.keys()

dict_keys(['김밥', '참치김밥', '라면', '치즈라면', '돈가스'])

In [ ]:
menu.values()

dict_values([2500, 3000, 3500, 4000, 6000])

In [ ]:
menu.items()

dict_items([('김밥', 2500), ('참치김밥', 3000), ('라면', 3500), ('치즈라면', 4000), ('돈가스', 6000)])

In [ ]:
# 딕셔너리의 키를 리스트로 변환하기
list(menu.keys())

['김밥', '참치김밥', '라면', '치즈라면', '돈가스']

In [ ]:
# 딕셔너리의 값을 리스트로 변환하기
list(menu.values())

[2500, 3000, 3500, 4000, 6000]

딕셔너리 정렬하기 
```
# 딕셔너리 키를 정렬
sorted(딕셔너리.keys())

# 딕셔너리 값을 정렬
sorted(딕셔너리.values())

# 딕셔너리 키-값을 정렬
sorted(딕셔너리.items())
```

In [ ]:
sorted(menu.keys())

['김밥', '돈가스', '라면', '참치김밥', '치즈라면']

In [ ]:
sorted(menu.keys(), reverse = True)

['치즈라면', '참치김밥', '라면', '돈가스', '김밥']

In [ ]:
sorted(menu.values())

[2500, 3000, 3500, 4000, 6000]

In [ ]:
# 가장 싼 음식의 가격은?
sorted(menu.values())[0]

2500

In [ ]:
# 가장 싼 음식 두 개의 가격은?
sorted(menu.values())[:2]

[2500, 3000]

In [ ]:
# 가장 비싼 음식의 두 개의 가격은?
sorted(menu.values())[-2:]

[4000, 6000]

In [ ]:
sorted(menu.values(), reverse = True)

[6000, 4000, 3500, 3000, 2500]

In [ ]:
sorted(menu.items())

[('김밥', 2500), ('돈가스', 6000), ('라면', 3500), ('참치김밥', 3000), ('치즈라면', 4000)]



```
# 딕셔너리 키-값은 자동으로 키를 기준으로 정렬됨
sorted(딕셔너리.items())
```

In [ ]:
# 딕셔너리 키-값 정렬시 값을 기준으로 정렬하ㅣ
import operator 

sorted(menu.items(), key=operator.itemgetter(1))

[('김밥', 2500), ('참치김밥', 3000), ('라면', 3500), ('치즈라면', 4000), ('돈가스', 6000)]

In [ ]:
# 가장 싼 음식은 무엇인가?
sorted(menu.items(), key=operator.itemgetter(1))[0]

('김밥', 2500)

In [ ]:
# 가장 싼 음식 두 개는 무엇인가?
sorted(menu.items(), key=operator.itemgetter(1))[:2]

[('김밥', 2500), ('참치김밥', 3000)]

In [ ]:
# 역순 정렬
sorted(menu.items(), key=operator.itemgetter(1), reverse = True)

[('돈가스', 6000), ('치즈라면', 4000), ('라면', 3500), ('참치김밥', 3000), ('김밥', 2500)]

In [ ]:
# 가장 비싼 음식 두 개는? 
sorted(menu.items(), key=operator.itemgetter(1), reverse = True)[:2]

[('돈가스', 6000), ('치즈라면', 4000)]